<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Chickurger - test2</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Skype" title="Skype" target="_blank" href="https://join.skype.com/hWkWMCPi4Odc"><i class="icon fa fa-skype" aria-hidden="true"></i></a>
        <a aria-label="Abdul's Drive" title="Abdul's Drive"  target="_blank" href="https://drive.google.com/folderview?id=1SDyBb36edVYjbGALLzEe5jHJjPTXIYHb"><i class="icon fa fa-google-drive" aria-hidden="true"></i></a>
        <a aria-label="Axel's Drive" title="Axel's Drive" target="_blank" href="https://drive.google.com/open?id=1NYnLyG4EicOoi2CV9wUPlUHFvFWMoh51"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/murraco"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/murraco"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
