
<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Chickurger</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Skype" title="Skype" target="_blank" href="https://join.skype.com/hWkWMCPi4Odc"><i class="icon fa fa-skype" aria-hidden="true"></i></a>
        <a aria-label="Abdul's Drive" title="Abdul's Drive"  target="_blank" href="https://drive.google.com/folderview?id=1SDyBb36edVYjbGALLzEe5jHJjPTXIYHb"><i class="icon fa fa-camera" aria-hidden="true"></i></a>
		<a aria-label="Abdul's Videos" title="Abdul's Videos"  target="_blank" href="https://tuenl-my.sharepoint.com/:f:/g/personal/a_mohamed_student_tue_nl/EhdhpjiB92ZNiqhIrHy3RekBZiQ_IIks_2XMsyg4eHkPGA"><i class="icon fa fa-video-camera" aria-hidden="true"></i></a>
        <a aria-label="Axel's Drive" title="Axel's Drive" target="_blank" href="https://drive.google.com/open?id=1NYnLyG4EicOoi2CV9wUPlUHFvFWMoh51"><i class="icon fa fa-camera" aria-hidden="true"></i></a>
	    <!--<a aria-label="Discord" title="Discord" target="_blank" href="https://drive.google.com/open?id=1NYnLyG4EicOoi2CV9wUPlUHFvFWMoh51"><i class="icon fa fa-gamepad" aria-hidden="true"></i></a>-->
			
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-hamburger" aria-hidden="true"></i></a>
</div>
